// 用于图标大小改变、抖动效果

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  5%,
  10% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  15%,
  25%,
  35%,
  45% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  20%,
  30%,
  40% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
}