
body {
  background: rgba(244, 235, 104, 1);
}

@mixin background($img, $height: 100%, $color: transparent, $repeat: no-repeat) {
  background: url('../resources/img/#{$img}') $repeat;
  background-size: 100% $height;
  background-color: $color;
}

@mixin font($size, $height, $color: rgb(255, 255, 255), $weight: normal, $align: center) {
  font-size: $size;
  line-height: $height;
  color: $color;
  font-weight: $weight;
  text-align: $align;
}

@font-face {
  font-family: Bebas;
  font-style: normal;
  font-weight: normal;
  src: url('../resources/font/Bebas-Regular.otf'); // 使用绝对路径，相对路径可能会找不到资源
}

@font-face {
  font-family: YouSheBiaoTiHei;
  font-style: normal;
  font-weight: normal;
  src: url('../resources/font/YouSheBiaoTiHei.ttf');
}

@font-face {
  font-family: FZFEIFT_CUJW;
  src: url('../resources/font/FZFEIFT-CUJW.TTF');
}
