@import '../../common/utils.scss';

.have-open {
  vertical-align: middle;

  .go-home {
    position: absolute;
    top: 100px;
    right: 0;
    width: 97px;
    height: 67px;
    opacity: .5;
    @include background('go-home.png');
  }

  .content {
    margin-top: 50px;
    text-align: center;

    img {
      max-width: 60%;
      object-fit: contain;
    }
  }

  .bottom {
    margin: 20px auto;
    @include font(36px, 1.5, #495060);
  }
}
