@import '../../common//utils.less';
@class-prefix: ~'have-open';

.@{class-prefix} {
  vertical-align: middle;

  &-content {
    margin-top: 50px;
    text-align: center;

    img {
      max-width: 60%;
      object-fit: contain;
    }
  }
}
